# Data science Python from scratch

# Python Major 
    1.Interpreted ,high-level programming language 
    2.Variable 
    3.Data type 
    4.Control flow statements
    5.function 
    6.object-oriented programming -oops

In [263]:
# Define python programming language ?

- Python is an interpreted, object-oriented, high-level programming language known for its simplicity and readability.
- It is widely used for various applications, including web development, data analysis, artificial intelligence, scientific computing

In [264]:
# What is interpreted language ?

- Python is an interpreted language, which means that you dont need to {COMPILE} your code before running it. 
- reads and executes your code line by line

In [265]:
# for example
a=1
b=2
result=a+b
print("The sum of", a, "and", b, "is:", result)

The sum of 1 and 2 is: 3

In [266]:
# What is compile ?

- A compiler is a that takes the source 
  code as input and translates it into machine code or bytecode

In [267]:
# High-Level Language?

- Python is considered a high-level programming language because it abstracts away the complexities of low-level 
- operations and provides a more user-friendly and readable syntax,Platform Independence,

# python basic

# veriable-variable are to store the data type
# what is veriable 
- In laymanâ€™s terms, we can say that Variable in Python is containers that store values.
- not start with num,symbol
- no gap
- should variable are in left side  it not placce  inright side"="
- cap variable are different 
- variable are updatable

In [268]:
#data
1+1

2

In [269]:
#To store the value in variable
a=1+1
a

2

In [270]:
#To store sperate the value in variable 
a,b,c=1,2,3

In [271]:
print(a,b,c)

1 2 3

# Data types
data type in python are 
- interger,float,complex_number
- string
- bool
- list,tuple,dict,set

In [272]:
# data type are should  be call as type()

## number data type
## int
    .whole number
     ex.2

In [273]:
a=1
type(a)

int

## float
    -decimal value
    -ex:2.3

In [274]:
d=3.1
type(d)

float

## complex_numer 
     1 is real part 
     2j is imagenary part

In [275]:
type(1+2j)

complex

## text data type 
## string(str) 
     . string is sequence characters and can contain letters , num, symmbol, and even space.

In [276]:
f= 'i am dhanapal'
type(f)

str

# use different coat

In [277]:
g="dad's money"
type(g)

str

# string slicing 
    String slicing is a technique in Python that allows you to extract 
    a portion of a string (a substring) by specifying a range of indices

In [278]:
f='i am dhanapal'
f[5:13]

'dhanapal'

## STRING CONCATINATION
   . It is nothing but to add the string

In [279]:
j='hari'
k='dhana'

In [280]:
s=j+k

In [281]:
s

'haridhana'

In [282]:
s.isalpha()

True

In [283]:
s.casefold()

'haridhana'

In [284]:
f=input()
r= 'i am'+f
print(r)

 dhana

i amdhana

# STRING FORMAT

In [326]:

a='dhoni'
b='100'
print('player name is {} bating at {}'.format(a,b))

player name is dhoni bating at 100

In [327]:
a='dhoni'
b='100'
print(f'player name is {a} bating at {b}')

player name is dhoni bating at 100

In [328]:
k='dhana'

In [329]:
k.replace('d','kd')

'kdhana'

In [330]:
print('i am \n good')

i am
 good

In [331]:
print('i am \t good')

i am 	 good

In [332]:
print('i am \b good')

i am good

In [333]:
k='dhana'

In [334]:
k.upper()

'DHANA'

In [335]:
print('i am \' good')

i am ' good

## intex
- start with 0
- use[]
- inculde white space while indexing
- Lists and tuples are ordered collections of elements, and you can access individual elements by specifying their index.
    
- In Python, indexing is zero-based, meaning the first element has an index of 0, 
the second element has an index of 1, and so on.
      
- You can also use negative indexing to access elements from the end of the sequence, 
- where -1 represents the last element, -2 represents the second-to-last element, and so forth.

In [336]:
# what are the types of indexing

Zero-Based Indexing  
Negative Indexing

In [337]:
# Zero-Based Indexing
f= 'i am dhanapal'
f[0]

'i'

In [338]:
# Negative Indexing
f[-1]

'l'

## Type casting /Type of conversion
Python defines type conversion functions to directly convert one data type to another data type
There are two types of Type Conversion in Python:- Implicit Type Conversion
- Explicit Type Consrseinonrsion

# Implicit Type Conversion
- implicit type casting occurs automatically when an operation involves operands of different data types

In [339]:
x = 10      # Integer
y = 5.5     # Floating-point number
z= x + y  
print('Implicit type conversion x is cast to a float, result is:' , z)

Implicit type conversion x is cast to a float, result is: 15.5

# Explicit Type Conversion
- Explicit type casting is when you manually convert a value from one data type to another data type

In [340]:
t=30.1
type(t)

float

In [341]:
t=int(30.1)#interger cannot the round the valu 
t

30

In [342]:
type(t)

int

In [343]:
t=float(30)
t

30.0

In [344]:
type(t)

float

In [345]:
t=str(30)
t

'30'

In [346]:
type(t)

str

# Boolean type
-  if the condition is true its true 
- ''''''''          is false its false 
# types
There are three primary types of Boolean values in Python:
- True
- False
- Boolen expressions
  - like AND,OR,NOT

In [347]:
1==1

True

# list[],Tuple(),set{},dict {}

There are four collection data types in the Python programming language:
# list[]
- List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple()
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# set{}
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# dict {} 
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

## LIST[] examples

In [348]:
l=[1,2,3,4,5,]

In [349]:
l

[1, 2, 3, 4, 5]

In [350]:
type(l)

list

In [351]:
# list are appilicable for indexing and sling 
l[0]

1

In [352]:
l[1:4]

[2, 3, 4]

In [353]:
# list are mutalble
l

[1, 2, 3, 4, 5]

In [354]:
l[2]='dhana'

In [355]:
l

[1, 2, 'dhana', 4, 5]

In [356]:
l.append(0) #Append object to the end of the list

In [357]:
l

[1, 2, 'dhana', 4, 5, 0]

In [358]:
l.pop(1) #Remove and return item at index (default last).

l

[1, 'dhana', 4, 5, 0]

## important topic 
  . copy function

In [359]:
a=[12,3,4,5,]

In [360]:
b=a.copy()

In [361]:
b

[12, 3, 4, 5]

In [362]:
b[1]='dhana'
b

[12, 'dhana', 4, 5]

In [363]:
a

[12, 3, 4, 5]

# Tuple()

In [364]:
a=(1,2,3,6,6.0,)

In [365]:
a

(1, 2, 3, 6, 6.0)

In [366]:
a[1]=3

TypeError: 'tuple' object does not support item assignment

In [367]:
type(a)

tuple

In [368]:
a.count(6)

2

In [369]:
a.index(3)

2

# set {}

In [370]:
d={'dhana','gayu','hari','kundachi'}

In [371]:
type(d)

set

In [372]:
print(d)

{'hari', 'dhana', 'kundachi', 'gayu'}

In [373]:
d.pop()

'hari'

## Dict {}

In [374]:
g={'raju': 1234,'jack':3111 }

In [375]:
type(g)

dict

In [376]:
g.keys()

dict_keys(['raju', 'jack'])

In [377]:
g.values()

dict_values([1234, 3111])

In [378]:
g.get('raju')

1234

# nesteded dict
- A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values
- nesteded dict where you can access values using multiple keys, creating a sort of tree-like structure.

# types

# Simple Nested Dictionary:

- In a simple nested dictionary, values are dictionaries themselves.
Each key in the outer dictionary corresponds to a sub-dictionary.

In [379]:
S_nested_dict = {
    "person1": {"name": "Alice", "age": 30},
    "person2": {"name": "Bob", "age": 25}
}

In [380]:
S_nested_dict

{'person1': {'name': 'Alice', 'age': 30},
 'person2': {'name': 'Bob', 'age': 25}}

In [381]:
S_nested_dict["person1"]["name"] # you can access values using multiple keys

'Alice'

# Hierarchical Nested Dictionary:

- In a hierarchical nested dictionary, sub-dictionaries can themselves contain further nested dictionaries.
- This structure can represent complex data relationships

In [382]:
data={
    "file_1":{
    "student_1":{'name':'dhana',"mark":95}
    },
      "file_2":{
      "student_2":{'name':'dhana', "mark":95}
      }
    
    }

In [383]:
data

{'file_1': {'student_1': {'name': 'dhana', 'mark': 95}},
 'file_2': {'student_2': {'name': 'dhana', 'mark': 95}}}

In [384]:
data["file_1"]["student_1"]

{'name': 'dhana', 'mark': 95}

# Mixed Data Types:

- Nested dictionaries can contain values of different data types, including lists, tuples, or even other nested dictionaries. 
- This versatility allows you to represent diverse data structures.

In [385]:
mixed_dict = {
    "person1": {"name": "Alice", "scores": [95, 87, 91]},
    "person2": {"name": "Bob", "contact": {"email": "bob@example.com", "phone": "555-123-4567"}}
}

In [386]:
mixed_dict

{'person1': {'name': 'Alice', 'scores': [95, 87, 91]},
 'person2': {'name': 'Bob',
  'contact': {'email': 'bob@example.com', 'phone': '555-123-4567'}}}

# Configurations and Settings

- Nested dictionaries are often used to represent configuration settings, 
- where each key-value pair corresponds to a setting and its value.
- Sub-dictionaries can group related settings.

In [387]:
config_settings = {
    "general": {"language": "English", "theme": "Dark"},
    "database": {"host": "localhost", "port": 5432},
    "logging": {"level": "DEBUG", "file": "app.log"}
}
config_settings

{'general': {'language': 'English', 'theme': 'Dark'},
 'database': {'host': 'localhost', 'port': 5432},
 'logging': {'level': 'DEBUG', 'file': 'app.log'}}

# JSON-Like Data:

- Nested dictionaries can mimic the structure of JSON data, making it easy to work with JSON data in Python.

In [388]:
json_data = {
    "name": "John",
    "age": 35,
    "address": {
        "street": "123 Main St",
        "city": "Cityville",
        "zipcode": "12345"
    },
    "tags": ["Python", "Programming", "Data Science"]
}
json_data

{'name': 'John',
 'age': 35,
 'address': {'street': '123 Main St', 'city': 'Cityville', 'zipcode': '12345'},
 'tags': ['Python', 'Programming', 'Data Science']}

# Tree Structures:

- Nested dictionaries can be used to represent tree-like structures, such as directory trees or organizational hierarchies.

In [389]:
tree = {
    "root": {
        "node1": {
            "node1.1": {},
            "node1.2": {
                "node1.2.1": {},
                "node1.2.2": {}
            }
        },
        "node2": {
            "node2.1": {},
            "node2.2": {}
        }
    }
}
tree

{'root': {'node1': {'node1.1': {},
   'node1.2': {'node1.2.1': {}, 'node1.2.2': {}}},
  'node2': {'node2.1': {}, 'node2.2': {}}}}

# Control flow statements 
- Control flow statements is used to control the flow of program execution based on conditions or loops.

# if statements
- if Statement: The if statement allows you to execute a block of code only if a  condition is true then will be run .
- It's used for conditional execution.

In [390]:
a=5

In [391]:
if a<10:          # A is less 10 print it 
    print(a)
    c=a+50
    print(c)

5
55

In [392]:
d=50
if d>10:
    print(d)
    c=d+90
    print('value are',c)

50
value are 140

# else
- if the condition is fail then will be else can be run

In [393]:
d=50
if d<10:
    print(d) 
else:           # this condition is fail so the else can run next conditiion 
    c=d+90
    print('value are',c)

value are 140

# elif 
- the if condition is fail  they check entire statement then move to next condition it .

In [394]:
a=50

In [395]:
 if a<10:
    print(a)
    c=a+10
    print('value are ',c)
elif a==1:
    print('The value is 20' )
elif a==5:
    print('the value is 10+10' )
     
else:
    print( 'The value is greater 20 and the value is :',a)

The value is greater 20 and the value is : 50

# Loops 
Loops is block of code  are used for performing repetitive tasks and iterating over sequences, collections, or ranges
- for loop  
- while loop

# for loop .

-  A for loop is a control flow statement is used for iterating over a sequence
- (such as a list, tuple, string, or range) and executing a specific block of code for each item in the sequence.

In [396]:
# for loop
a=['dhana','gayu','kappu','kundachi']
type(a)

list

In [397]:
for i in a:
    print(i)

dhana
gayu
kappu
kundachi

In [398]:
for i in a:
    print(i)
    if i=='dhana':
        print('hai')
    else:
        print('bye')
else:
    print('the value is empty')

dhana
hai
gayu
bye
kappu
bye
kundachi
bye
the value is empty

# while loop
- while loop is used to repeat a specific block of code an unknow number of time ,until if the condition is met

In [399]:
i=1
while i < 10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

## Task
- how to edit the tuple

In [400]:
c=(1,2,3,4,5,'gayu')

In [401]:
type(c)

tuple

In [402]:
# type casting 
d=list(c)

In [403]:
d

[1, 2, 3, 4, 5, 'gayu']

In [404]:
d.append('santhamani')

In [405]:
d

[1, 2, 3, 4, 5, 'gayu', 'santhamani']

In [406]:
c=tuple(d)

In [407]:
c

(1, 2, 3, 4, 5, 'gayu', 'santhamani')

In [408]:
type(c)

tuple

# 2 . how to remove the duplicate from list or tuple

In [409]:
l=[1,2,3,4,4,4,7,'dhana','hari'] # tuple in duplicate

In [410]:
type(l)

list

In [411]:
l=set(l) # duplicate are removed  
l

{1, 2, 3, 4, 7, 'dhana', 'hari'}

# stack 
     .last in (append)
     .1 st out (pop)

In [412]:
stack = [1,2,3,4,5,6]

In [413]:
stack.append(8)

In [414]:
stack

[1, 2, 3, 4, 5, 6, 8]

In [415]:
stack.pop()

8

In [416]:
stack

[1, 2, 3, 4, 5, 6]

## List comperhension
- List comprehensions provide a concise way to create lists
- to create a emty list and store the value in empty list is called List comprehensions

In [417]:
for x in range(10): # there is no empty list so we cannot store the c values ,
    c=x**2
    print(c)

0
1
4
9
16
25
36
49
64
81

In [418]:
 c

81

In [419]:
squares=[]          # here we create a empty list so we can store the value of square 
for x in range(10):
    squares.append(x**2)

In [420]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [421]:
# same as List comprehension another method 
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [422]:
a=range(1,10)

In [423]:
a

range(1, 10)

In [424]:
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Fuctions 
- A function is a block of reusable  code ,which  only run when it is called

 # Type of function
- python bulit in  function 
    - example : print, for , if  ... etc 
- python user define functions
- python lambda fuctions 
- python recursion funtions

# bulit in  function
- Built-in functions included in the Python language itself so we dont  without the need to import any external modules or libraries. 
- Built-in functions in Python are pre-defined functions that are provided by the Python programming language. These functions are part of the Python standard library and can be used without the need to define them

In [425]:
# Example of the len() function and the str data type

# Define a string
text = "Hello, World!"

# Use the len() function to find the length of the string
length = len(text)

# Print the result
print(f"The length of the string is: {length}")

The length of the string is: 13

# User-define-Function 
- A user-defined function is a custom function created by a programmer to perform a specific task or set of tasks.
- These functions are defined    using the *def* keyword in Python and follow a specific structure.

In [426]:
# function is block of reuseable code for example 
x=[1,2,3,4]
y=[4,5,3,6]
z=[6,5,8,9]

In [427]:
def l_comp(a):                    # def is function|l_comp()- function name|(a)---- attribute                             , 
    d=[]
    for i in a:       
        c=i+10
        d.append(c)
    return d                     # Must use return fuction in fuction not use print  
                                 # because  we cannot store print in variable

In [428]:
l_comp(x)                      # we have to call where ever you want using to call fuction name

[11, 12, 13, 14]

In [429]:
l_comp(y)

[14, 15, 13, 16]

In [430]:
l_comp(z)

[16, 15, 18, 19]

# print vs retrun

In [431]:
e=[6,5,8,9]
f=[4,5,3,6]
g=[1,2,3,4]

In [432]:
def l_comp(b):                                                 
    d=[]
    for i in b:       
        c=i+10
        d.append(c)
    print (d)

In [433]:
e=l_comp(e)

[16, 15, 18, 19]

In [434]:
f=l_comp(f)

[14, 15, 13, 16]

In [435]:
g=l_comp(g)

[11, 12, 13, 14]

In [436]:
g # print function cannot print the variable cannot sotre in print

In [437]:
i=[6,5,8,9]
j=[4,5,3,6]
k=[1,2,3,4]

In [438]:
def l_comp(l):                                                 
    d=[]
    for i in l:       
        c=i+10
        d.append(c)
    return d

In [439]:
i=l_comp(i)
j=l_comp(j)
k=l_comp(k)

In [440]:
i # this is can function run the variable to store

[16, 15, 18, 19]

In [441]:
# poistion of arguments is important

In [442]:
def add (a,b):
    c= a+b
    return c

In [443]:
add(10,5)

15

In [444]:
def div (a,b):
    c= a/b
    return c

In [445]:
div(6,2)

3.0

In [446]:
def div (a,b):     # position of the arugument all to call is important 
    c=a/b

    print('a :',a)
    print('b :',b)
    return c

In [447]:
div(10,2)

a : 10
b : 2

5.0

In [448]:
a=15
b=16             # gobal variable is out side the function 
def add (a,b):
    h=a+b          # local variable is inside the function 
    print(h,a,b)

In [449]:
a

15

In [450]:
b

16

In [451]:
h       
         # because the local variable is not come out the function  using print 
         #\ but u can call the local variable using return fuction to call the value

NameError: name 'h' is not defined

In [452]:
def add(a, b):
    """
    This function adds two numbers and returns the result.
    :param a: The first number
    :param b: The second number
    :return: The sum of a and b
    """
    c= a + b
    return c

In [453]:
add(6,2)

8

# lambda fuction 
- In Python, a lambda function, also known as an anonymous function or a lambda expression, is a small, unnamed function that is defined using the lambda keyword. Lambda functions are often used for short, simple operations where a full function definition with a name and the def keyword is not necessary. Lambda functions are primarily used for creating small, one-time-use functions that can be passed as arguments to higher-order functions like map, filter, and sorted

In [454]:
# normal one 
def sum(a):
    c=a+10
    return(c)

In [455]:
c= sum(2)

In [456]:
c

12

In [457]:
# lambda style 
c=lambda a:a*10

In [458]:
c(2)

20

In [459]:
10+c(3)

40

# recursion fuction
- A recursive function in Python is a function that calls itself to solve a problem by breaking it down into smaller, similar subproblems
-  Recursive functions are commonly used to solve problems that can be expressed in terms of smaller instances of the same problem

In [460]:
# def factorial(n):
    # Base case: If n is 0 or 1, return 1.
    #if n == 0 or n == 1:
        #return 1
    # Recursive case: n! = n * (n-1)!
    #else:
        #return n * factorial(n - 1)

# Example usage
#result = factorial(5)
#print(result)  # Output: 120

# pass
- In this example, pass is used in both a function and a class definition to indicate that they are currently empty but will be implemented laterations.

In [461]:
def sum(a): 
    pass              # pass its is used to pass the fuction it cannot be the run the fuction 
    c=a+10 
    return(c)
    sum(a)

In [462]:
sum(3)
pass

## break 
- The break statement is used to exit a loop prematurely. It is often used within loops (for, while) 
- to terminate the loop when a certain condition is met.

In [463]:
a=[2,3,4,5,1]

In [464]:
def demo(a):
    for i in a:
        if i==1:
            print('a is one,five:',i)
            break                        # it break the value 
        else:
             print('a is not one,five:',i)

In [465]:
demo(a)

a is not one,five: 2
a is not one,five: 3
a is not one,five: 4
a is not one,five: 5
a is one,five: 1

# continue
- The continue statement is used within a loop to skip the current iteration and move to the next one. 
- It is often used when you want to skip specific iterations based on a condition.

In [466]:
for number in range(1, 6):
    if number == 3:
        continue  # Skip the current iteration when number is 3
    print(number)

1
2
4
5

# Module 
- In Python, a module is a file that contains Python code, including variables, functions, and classes
- Modules are used to organize code into reusable and manageable unitss

In [467]:
def add(x, y):
    return x + y

In [468]:
add(5,6)

11

# Object oriented programming

oops concept was coined by alan kay around 1996.and the language is called as simula was the first programming language in future of oops
today its application 
- Real Time Systems
- Client Server System
- Hypertext and Hypermedia
- Object Oriented Database
- Neural Networks and Parallel Programming
- AI Expert Systems
- Simulation and Modeling System
- Office Automation Systems
- CIM/CAD/CAM Systems
- Computer Aided Designs

What is object programming language ?

object programming language(OOPS) is all  about creating an object 
An object is group of interrelated variables and function    
 - variable are often refferred to as properties  of an object
 - fuction are reffer to as the  behaviour of the object 
###########################################################################################################
 - object=function and variables that are interalated
 - variables=property of the object 
 - function=behaviour 
###########################################################################################################
example 
 - object - car 
 - variable {properties} - colour , model, price 
 - function{behaviour}-Acceleration, gear change , power

# major concept oops
 -  class
 -  object
 -  method
 -  inheritanc
 -  polymorphism
 -  encapsulatio
 -  abstraction

# Object-oriented-programming(OOPS)- Procedural Oriented Programming (POP)


POP
 - Procedure/Structure oriented funtion are arrange in specific sequence
 - There is no proper way of hiding the data, so data is insecure
 - pop is used for small task only reason is ( hard to debug )
 - Top-down.

In [469]:
# example 
def dummy(a,b):
    a=a+2
    b=b+3
    c=a/b
    return c

In [470]:
dummy(5,6)

0.7777777777777778

OOPS
 - object-oriented-programming, language is all about creating an object.to solve the prblm to mutiple complex task  easly to use oops
 - Data is hidden in three modes public, private, and protected. hence data security increases.
 - Top-down.

## oops concept

In [471]:
# for example of oops concept
class dhana:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        "This program add two number and return the result"
        result=self.a+self.b
        return result 
    def sub(self):
        "This program sub two number and return the result"
        result=self.a-self.b
        return result

In [472]:
o=dhana(6,5)

In [473]:
o.add()

11

In [474]:
o.sub()

1

# class
- class is nothing but collection of object

class class_name:
     # class body

# object 
- objectb is nothing but collecton  fuction and variable

obj=class_name()

# class constructor 
- assing the values to data members of the class when the object of the class is created
  
  for expl-init ,self etc  ## constructor methods
  
- class attribute vs instance attribute
  
  its nothing inside class contructor to use the attribute is called class attribute and we use the attribute inside the fuction  is called instance    attribute

In [475]:
class car:
    def __init__(self,name,mileage):    #( class constructed )                           
        self.name=name
        self.mileage= mileage

In [476]:
class car:
    car_type = "xuv"                   # class attribute
    def __init__(self,name,mileage):                 
        self.name=name               # instance attribute
        self.mileage= mileage        # instance attribute


# class method 
- methods are the function that we use to decribe the behaviour of the objects

In [477]:
class car:
    # class attribute
    car_type = "xuv"  
    # this is class constructor 
    def __init__(self,name,mileage):  
        # instance attribute
        self.name=name
        self.mileage= mileage
    # Behaviour of the object | this is a class method  , property of the obj
    def description(self):                                                                  
        return f"the {self.name} car give the mileage of { self.mileage }km/1"
    
    def max_speed(self , speed):
        return f" the {self.name } run at the maximum speed of {speed}km/hr"

In [478]:
# number and oder of the argument is matters.
obj1 = car("skoda",60.5)

In [479]:
obj1.description()

'the skoda car give the mileage of 60.5km/1'

In [480]:
obj1.max_speed(150)

' the skoda run at the maximum speed of 150km/hr'

## inhertiance
- inhertiance is the procedure in which one class inherits the attributes and methods of another  class
  
class parent_class
- parent_class:finally which  one give the attribute and method to another class is called parent class 

class child_class
- parent class:which one is to get form the attribute and method is called child class

In [481]:
# for exmple for inhertience 
class jeva:                   # parent class
    def __init__(self,name,mileage):                                    
        self.name=name
        self.mileage= mileage 
        
    def description(self):                                                     
        return f"the {self.name} car give the mileage of { self.mileage }km/1"

In [482]:
s=jeva('skoda',50)
s.description()

'the skoda car give the mileage of 50km/1'

In [483]:
class Audi(jeva):    # child class 
    def audi_desc(self):
        return "This is the description method of class Audi"

In [484]:
obj3=Audi("Audi",14)

In [485]:
obj3. description()

'the Audi car give the mileage of 14km/1'

In [486]:
obj3.audi_desc()

'This is the description method of class Audi'

# Encapsulation
- encapsulation is nothing but to hide or protect varibles
- for example:self.name__=name

In [487]:
obj3.mileage

14

In [488]:
obj3.name

'Audi'

In [489]:
class Car:
    # class attribute
    car_type = "xuv"  
    # this is class constructor 
    def __init__(self,name,mileage):  
        # instance attribute
        self.name__=name                      # protected variable
        self.mileage= mileage
    # Behaviour of the object | this is a class method  , property of the obj
    def description(self):                                                                  
        return f"the {self.name} car give the mileage of { self.mileage }km/1"
    
    def max_speed(self , speed):
        return f" the {self.name } run at the maximum speed of {speed}km/hr"

In [490]:
obj4=Car("xuv",75.53)

In [491]:
obj4.name # it protected variable we cannot acces the variable but we access [obj4.name__]

AttributeError: 'Car' object has no attribute 'name'

In [492]:
# Accessing protected variable directly  from outside 
obj4.name__

'xuv'

In [493]:
class Car:
    # class attribute
    car_type = "xuv"  
    # this is class constructor 
    def __init__(self,name,mileage):  
        # instance attribute
        self.__name=name                      # private variable 
        self.mileage= mileage
    # Behaviour of the object | this is a class method  , property of the obj
    def description(self):                                                                  
        return f"the {self.name} car give the mileage of { self.mileage }km/1"
    
    def max_speed(self , speed):
        return f" the {self.name } run at the maximum speed of {speed}km/hr"

In [494]:
obj4=Car("xuv",75.53)

In [495]:
obj4.__name # we never access to see tha name because this private variable not prodected variable

AttributeError: 'Car' object has no attribute '__name'

In [496]:
# but we  Accessing protected variable directly  from outside using this code
obj4._Car__name        # mangled name

'xuv'

## polymorphism
        .fuction having same name but diferent functionalities

In [497]:
class Animal:
    def speak(self):
        pass    
class Dog(Animal):
    def speak(self):
        return "Woof!"
class Cat(Animal):
    def speak(self):
        return "Meow!"
def animal_sound(animal):
    return animal.speak()

dog = Dog()
cat = Cat()

print(animal_sound(dog)) 
print(animal_sound(cat))

Woof!
Meow!

## data abstraction 
       . it is blue brint for other classes

In [498]:
from abc import ABC, abstractmethod

# Define an abstract class (the blueprint)
class Animal(ABC):
    def __init__(self, name):
        self.name = name

    @abstractmethod
    def speak(self):
        pass

# Create concrete subclasses
class Dog(Animal):
    def speak(self):
        return f"{self.name} says Woof!"

class Cat(Animal):
    def speak(self):
        return f"{self.name} says Meow!"

class Duck(Animal):
    def speak(self):
        return f"{self.name} says Quack!"

# Create instances of concrete classes
dog = Dog("Buddy")
cat = Cat("Whiskers")
duck = Duck("Daffy")

# Interact with objects using the common interface
print(dog.speak()) 
print(cat.speak()) 
print(duck.speak())

Buddy says Woof!
Whiskers says Meow!
Daffy says Quack!